<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
<h1 class="text-center mb-4">Lista de editoriales</h1>
<!-- Botón para agregar nuevo usuario -->
<div class="mb-3">
    <a href="{% url 'editorialesadd' %}" class="btn btn-success">Agregar Nuevo Usuario</a>
</div>
<!-- Tabla de editoriales -->
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if editoriales %}
            {% for editorial in editoriales %}
                <tr>
                    <td>{{ editorial.id }}</td>
                    <td>{{ editorial.nombre }}</td>
                    <td>{{ editorial.estado }}</td>

                    <td>
                        <!-- Botón para editar -->
                        <a href="{% url 'editorialesedit' editorial.id %}">Editar</a>
                        <a href="{% url 'editorialesdel' editorial.id %}">Eliminar</a>
                </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" class="text-center">No hay editoriales registrados.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}