<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
<div class="row">
<div class="col-10 offset-1">
<h3>Confirmar Eliminación de Usuario</h3>
<div class="alert alert-danger h5">
¿Estás seguro de que deseas eliminar al usuario?
{{ usuario.id }} {{ usuario.nombre }} {{ usuario.correo }}?
</div>
<form method="post">
{% csrf_token %}
<div class="row">
<div class="col">
<a class="btn btn-dark" href="{% url 'usuarios' %}">Cancelar</a>
</div>
<div class="col">
<button class="btn btn-danger" type="submit">Confirmar Eliminación</button>
</div>
</div>
</form>
</div>
</div>
{% endblock %}