<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
<h1 class="text-center mb-4">Lista de Autores</h1>
<!-- Botón para agregar nuevo autor -->
<div class="mb-3">
<a href="{% url 'autoresadd' %}" class="btn btn-success">Agregar Nuevo Autor</a>
</div>
<!-- Tabla de autores -->
<table class="table table-bordered table-striped table-hover">
<thead class="table-dark">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Biografia</th>
<th>Fecha Nacimiento</th>
<th>Nacionalidad</th>
<th>Estado</th>
</tr>
</thead>
<tbody>
{% if autores %}
{% for autor in autores %}
<tr><td>{{ autor.id }}</td>
<td>{{ autor.nombre }}</td>
<td>{{ autor.biografia }}</td>
<td>{{ autor.fnacimiento }}</td>
<td>{{ autor.nacionalidad }}</td>
<td>${{ autor.estado }}</td>
<td>
<!-- Botón para editar -->
<a href="{% url 'autoresupdate' autor.id %}" class="btn btn-primary btn-sm">Editar</a>
<!-- Botón para eliminar -->
<a href="{% url 'autoresdel' autor.id  %}" class="btn btn-danger btn-sm">Eliminar</button>
  
</td>
</tr>
{% endfor %}
{% else %}
<tr>
<td colspan="6" class="text-center">No hay autores registrados.</td>
</tr>
{% endif %}
</tbody>
</table>
{% endblock %}