{% extends "base.html" %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylus.css' %}">
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initialscale=1.0">
<title>Mbiblioteca</title>
<link rel="stylesheet" href="{% static 'css/stylus.css'%}">
</head>
<body>
<h1>Base de Datos Mbiblioteca</h1>
<form action="{% url 'librosadd' %}" method="get">
    <button type="submit">Agregar Libro</button>
</form>
<form action="{% url 'autoresadd' %}" method="get">
    <button type="submit">Agregar Autor</button>
</form>
<form action="{% url 'editorialesadd' %}" method="get">
    <button type="submit">Agregar Editorial</button>
</form>
<form action="{% url 'usuariosadd' %}" method="get">
    <button type="submit">Agregar Usuario</button>
</form>
<form action="{% url 'libros' %}" method="get">
    <button type="submit">Ver Libros</button>
</form>
<form action="{% url 'usuarios' %}" method="get">
    <button type="submit">Ver Usuarios</button>
</form>
<form action="{% url 'editoriales' %}" method="get">
    <button type="submit">Ver Editoriales</button>
</form>
<form action="{% url 'autores' %}" method="get">
    <button type="submit">Ver Autores</button>
</form>
</footer>
</body>
</html>
{% endblock %}