<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
<h1 class="text-center mb-4">Lista de Libros</h1>
<!-- Botón para agregar nuevo libro -->
<div class="mb-3">
<a href="{% url 'librosadd' %}" class="btn btn-success">Agregar Nuevo Libro</a>
</div>
<!-- Tabla de libros -->
<table class="table table-bordered table-striped table-hover">
<thead class="table-dark">
<tr>
<th>ID</th>
<th>Titulo</th>
<th>Id Autor</th>
<th>Fecha Publicacion</th>
<th>Id Editorial</th>
<th>Stock</th>
<th>Número de Páginas</th>
<th>Idioma</th>
<th>Estado</th>
<th></th>
</tr>
</thead>
<tbody>
{% if libros %}
{% for libro in libros %}
<tr><td>{{ libro.id }}</td>
<td>{{ libro.titulo }}</td>
<td>{{ libro.id_autor }}</td>
<td>{{ libro.fpublicacion }}</td>
<td>{{ libro.id_editorial }}</td>
<td>{{ libro.stock }}</td>
<td>{{ libro.nro_paginas }}</td>
<td>{{ libro.idioma }}</td>
<td>{{ libro.estado }}</td>

<td>
  <td>
    <!-- Botón para editar -->
    <a href="{% url 'librosupdate' libro.id %}" class="btn btn-primary btn-sm">Editar</a>
    <!-- Botón para eliminar -->
    <a href="{% url 'librosdel' libro.id %}" class="btn btn-danger btn-sm">Eliminar</a>
</td>
</td>
</tr>
{% endfor %}
{% else %}
<tr>
<td colspan="6" class="text-center">No hay libros registrados.</td>
</tr>
{% endif %}
</tbody>
</table>
{% endblock %}